$stagger-bg: #ffffe8;
$stagger-color01: #ffd4d4;
$stagger-color02: #cde990;
$stagger-color03: #aacb73;

$random-bg: #d7e9b9;
$random-color01: #fffbac;
$random-color02: #ffd495;
$random-color03: #faab78;

$radian-bg: #ceedc7;
$radian-color: #86c8bc;
